<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Admin</a>
    <ul class="nav">
      <li class="active"><a href="dash">Dashboard</a></li>
      <li><a href="#">Link</a></li>
      <li><a href="blog">Blog</a></li>
      <ul class="nav nav-tabs">
        <li class="dropdown">
          <a class="dropdown-toggle"
            data-toggle="dropdown"
            href="#">
              Dropdown
              <b class="caret"></b>
            </a>
          <ul class="dropdown-menu">
            <!-- links -->
          </ul>
        </li>
      </ul>
    </ul>
  </div>
</div>