<!-- Footer Section -->
<div class="container-fluid">
  <footer class="page-footer font-small">


    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <a href="/">Trevor Njeru</a> © 2019.
    </div>
    <!-- End Copyright -->

  </footer>
  <!-- End Footer -->
</div>
<!-- End Container Fluid -->
