<!-- Footer Section -->
<div class="container-fluid">
  <footer class="page-footer font-small">


    <!-- Copyright -->
    <div class="footer-copyright text-center">
      <p>&copy; <%= new Date(Date.now()).getUTCFullYear() %> <a href="/">Trevor Njeru</a>.</p>
    </div>
    <!-- End Copyright -->

  </footer>
  <!-- End Footer -->
</div>
<!-- End Container Fluid -->
