<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">

  <!-- Logo Image -->
  <a class="navbar-brand" href="/">
    <img src="images/LOGO.png" width="50" height="50" alt="">
  </a>



  <div class="container">

    <!-- Toggle Btn -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- End Toggle Btn -->

    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto nav-pills">

        <li class="nav-item">
          <a class="nav-link" href="/about">About
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/work">Work</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/contact">Contact</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" href="Trevor Njeru, Resume 2019.pdf">Resume</a>
        </li>

      </ul>
    </div>
    <!-- End Nav List -->
  </div>
  <!-- End Container -->
</nav>
<!-- End Navbar -->
