<div class="card">

  <div class="card-img">
    <img class="rounded img-fluid" src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/ProjImg.png" alt="Work Image">
  </div>

  <div class="card-details">
    <h1 class="title">Title</h1>
    <p class="date">Apr 4th, 2019</p>
    <div class="icons">
      <ul>
        <li><a href="#" class="link"><img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/Proj-Github-Icon.png" alt="Github"></a></li>
        <li><a href="#" class="link"><img src="https://elasticbeanstalk-us-east-2-257945705175.s3.us-east-2.amazonaws.com/portofolio-v1.0/Proj-Link-Icon.png" alt="Demo"></a></li>
      </ul>
    </div>
    <p class="work-desc">This is a website showing some basic js and design skills.</p>
  </div>

  <h5>Built With</h5>

  <div class="skill-list">
    <div class="skill">
      <h5>HTML</h5>
    </div>
    <div class="skill">
      <h5>CSS</h5>
    </div>
    <div class="skill">
      <h5>JS</h5>
    </div>
  </div>

</div>
