<!doctype html>
<html lang="en">
  <head>
    <%- include partials/head.ejs %>
    <link rel="stylesheet" href="stylesheets/home.css"  type="text/css">
  </head>
  <body>
    <!-- Navigation -->
    <%- include partials/nav.ejs %>

    <div class="fold container">

      <div class=" row">


        <!-- <div class="container"> -->

          <!-- Intro Section -->
          <div class="intro">
            <h6>Hello, my name is</h6>
            <h1>Trevor Njeru</h1>
            <p>A computer science student in Charlotte, NC.</p>
            <a class="btn btn-primary" href="#">Hire Me</a>

          </div>
          <!-- End Page Intro -->

          <!-- Profile Image -->
          <div class="profile-img float-right">
            <img src="images/ProfilePic.png" alt="">
          </div>
          <!-- End Profile Image -->
        <!-- </div> -->
        <!-- End Container -->


      </div>
      <!-- End Row -->


      </div>
      <!-- End Container Fluid -->


      <%- include partials/sidebar.ejs %>



    <%- include partials/scripts.ejs %>
  </body>
</html>
