<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    
  </head>
  <body>
    
    <main>
      <!--Header-->
      <%- include ../partials/header.ejs %>
      
      <form id="userForm" method="POST" action="/user/resetpassword">
        <input id="emailField" type="email" name="email" placeholder="Email"/>
        <a href="/user/signin"><p id="forgotLink">Already a user? Sign In!</p></a>
        <input id="submitBtn" type="submit" value="Submit"/>
      </form>
            
            
    </main>
    
    
    
    <% include ../partials/footer.ejs %>
  </body>
</html>