<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head.ejs %>
    <link rel="stylesheet" href="/stylesheets/user.css">
  </head>
  <body>
    <main>
      <!--Header-->
      
      <h3 id="signOutMessage">You have been signed out.</h3>
            
            
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>