<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/internalHead.ejs %>
    <link rel="stylesheet" href="/stylesheets/user.css">
  </head>
  <body>
    
    <main>
      <!--Header-->
      
      <form id="userForm" method="POST" action="/users/logup">
        <input id="emailField" type="text" name="name" placeholder="Name"/>
        <input id="emailField" type="email" name="username" placeholder="Email"/>
        <input id="passwordField" type="password" name="password" placeholder="Password"/>
        <input id="passwordField" type="password" name="confirm_password" placeholder="Confirm Password"/>
        <a href="/user/forgot"><p id="forgotLink">Forgot Password?</p></a>
        <input id="submitBtn" type="submit" value="Sign Up"/>
      </form>
      
      <div class="corrections">
        
      </div>
            
            
    </main>
    
    
    
    <% include ../partials/footer.ejs %>
  </body>
</html>