<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/internalHead.ejs %>
    <link rel="stylesheet" href="/stylesheets/user.css">
  </head>
  <body>
    
    <main>
      <!--Header-->
      <!-- if (messages.error) {  -->
      <!--   messages.error -->
      <!-- }  -->
      <% include ../partials/messages.ejs %>
      <form id="userForm" method="POST" action="/users/login">
        <input id="emailField" type="email" name="username" placeholder="Email"/>
        <input id="passwordField" type="password" name="password" placeholder="Password"/>
        <a href="/user/forgot"><p id="forgotLink">Forgot Password?</p></a>
        <input id="submitBtn" type="submit" value="Sign In"/>
      </form>
            
            
    </main>
    
    
    
    <% include ../partials/footer.ejs %>
  </body>
</html>