<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/adminHead.ejs %>
    
  </head>
  <body>
    
    <main>
      <!--Header-->
      <%- include ../partials/header.ejs %>
      
      <h3 id="signOutMessage">You have been signed out.</h3>
            
            
    </main>
    
    
    
    <% include ../partials/footer.ejs %>
  </body>
</html>