

/* Email Section */
.email {

  margin-top: 150px;
  margin-left: 100px;
  margin-bottom: 160px;
}

/* Email Header */
.email h1 {

  margin-bottom: 50px;
}

/* Email Paragraph */
.email p {

  margin-bottom: 50px;
}
