

/* Email Section */
.email {

  margin-top: 175px;
  margin-left: 100px;
  margin-bottom: 160px;
}

/* Email Header */
.email h1 {

  margin-bottom: 50px;
}

/* Email Paragraph */
.email p {
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 50px;
}
