* {
    
    margin: 0;
    padding: 0;
}

body {
    
    background-color: #EBF0F6;
    color: #1B264F;
    font-family: Montserrat;
}

main {
    
    margin: 0 10%;
    margin-top: 40px;
}

#cityQuery {
    
    margin-bottom: 25px;
    
    width: 50%;
    height: 30px;
    
    
    background: #FFFFFF;
    border: none;
    border-radius: 30px;
    padding-left: 20px;
    margin-right: 50px;
}

#dataBtn {
    
    background: #FFFFFF;
    border-radius: 10px;
    width: 125px;
    height: 30px;
}


#date {
    
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

#city {
    
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: 15px;
}

#date-loc {
    
    display: inline-block;
}

#tempRange {
    
    display: inline-flex;
    margin-bottom: 50px;
    
}

#high_temp {
    
    color: #EC6E4D;
}

#low_temp {
    
    width: 50px;
    margin-bottom: 10px;
    color: #4CB944;
}

#temps {
    display: inline-flex;
    margin-top: 30px;
    
}

#temp {
    
    margin-left: 100px;
    margin-top: -17px;
    font-size: 80px;
    font-weight: 100px;
    margin-bottom: 20px;
    width: 250px;
    margin-right: 550px;
    color: #EC6E4D;
}


.weatherIcon {
    
    display: inline-flex;
    margin-bottom: 20px;
}

#desc {
    
    margin-top: 40px;
    margin-left: 75px;
}

.sun {
    
    /*display: inline;*/
    margin-bottom: 15px;
}

#sun {
    
    margin-left: 25px;
    width: 200px;
    margin-right: 0;
}

#suntime {
    margin-left: 200px;
    margin-top: -18px;
    
}



.metaData {
    
    display: inline-flex;
    height: 200px;
    margin-top: 25px;
}

.precip {
    
    margin: 20px 50px;
    
}

.humid {
    
    margin: 20px 50px;
}

.wind {
    
    margin: 20px 50px;
}

#precipVal {
    
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4CB944;
}

#humidVal {
    
    margin-top: 30px;
    margin-bottom: 10px;
    color: #EC6E4D;
}

#windVal {
    
    margin-top: 30px;
    margin-bottom: 10px;
    color: #4CB944;
}