<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!--Head-->
    <%- include ../partials/projectHead.ejs %>
    <link rel="stylesheet" href="../stylesheets/clock.css" type="text/css" />
    <title>JS Clock</title>

  </head>
  <body>
    <main>
      <h3>JS Clock</h3>
      
      <div id="return">
        <a href="/work"><p>Return to Website</p><i class="fa fa-chevron-left"></i></a>

      </div>

      <div class="container">
        <div class="myClock">
          <h4 id="date">Sunday March 31, 2019</h4>

          <div class="timing">
            <h1 id="time">4:28:36</h1>
            <h2 id="dayType">PM</h2>
          </div>

        </div>
      </div>


    </main>
    
    <!--Footer-->
    <%- include ../partials/footer.ejs %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"/>
    <script type="text/javascript" src="../javascripts/clock.js"></script>
  </body>
</html>
